@model IEnumerable<WebAppMedOffices.Models.Turno>

@{
    ViewBag.Title = "Lista de Pacientes de Hoy";
}

<h2>Pacientes del Día</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Celular)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Celular)
            </td>
            <td>
                @Html.ActionLink("Ficha Medica", "FichaMedica", new { id = item.PacienteId }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }

</table>