<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MedOffices", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@*@Html.ActionLink("Inicio", "Index", "Home")*@</li>
                    <li>@*@Html.ActionLink("Acerca de", "About", "Home")*@</li>
                    <li>@*@Html.ActionLink("Contacto", "Contact", "Home")*@</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestión de Turnos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Turnos de Hoy", "Index", "GestionTurnos")</li>
                                <li>@Html.ActionLink("Cargar Turnos", "Create", "GestionTurnos")</li>
                                <li>@Html.ActionLink("Asignar Turno", "ListaPacientes", "GestionTurnos")</li>
                                <li>@Html.ActionLink("Turnos Disponibles", "TurnosDisponibles", "GestionTurnos")</li>
                                <li>@Html.ActionLink("Turnos Reservados", "TurnosReservados", "GestionTurnos")</li>                                
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Obras Sociales <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Obras Sociales", "Index", "ObrasSociales")</li>
                                <li>@Html.ActionLink("Tarifas por Especialidad", "Index", "ObraSocialTarifas")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABM Médicos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Médicos", "Index", "GestionMedicos")</li>
                                <li>@Html.ActionLink("Asignar Consultorio", "Create", "AtencionHorarios")</li>
                                <li>@Html.ActionLink("Consultorios", "Index", "Consultorios")</li>
                            </ul>
                        </li>
                    }

                    @if (User.IsInRole("Secretaria"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestión de Turnos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Turnos de Hoy", "Index", "GestionTurnos")</li>
                                <li>@Html.ActionLink("Cargar Turnos", "Create", "GestionTurnos")</li>
                                <li>@Html.ActionLink("Asignar Turno", "ListaPacientes", "GestionTurnos")</li>
                                <li>@Html.ActionLink("Turnos Disponibles", "TurnosDisponibles", "GestionTurnos")</li>
                                <li>@Html.ActionLink("Turnos Reservados", "TurnosReservados", "GestionTurnos")</li>
                            </ul>
                        </li>
                    }


                    @if (User.IsInRole("Medico"))
                    {

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Médicos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Buscar Pacientes", "ListarTodosPacientes", "FichaMedica")</li>
                                <li>@Html.ActionLink("Pacientes del Día", "ListarPacientesHoy", "FichaMedica")</li>
                            </ul>
                        </li>
                    }

                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">OCULTO <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ficha Medica", "Index", "FichaMedica")</li>
                                <li>@Html.ActionLink("Pacientes", "Index", "Pacientes")</li>
                                <li>@Html.ActionLink("Turnos", "Index", "Turnos")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Obras Sociales", "Index", "ObrasSociales")</li>
                                <li>@Html.ActionLink("Tarifas por Especialidad", "Index", "ObraSocialTarifas")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Enfermedades de Pacientes", "Index", "PacienteEnfermedades")</li>
                                <li>@Html.ActionLink("Tipos de Enfermedades", "Index", "TipoEnfermedades")</li>
                                <li>@Html.ActionLink("Enfermedades", "Index", "Enfermedades")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Pacientes", "Index", "Pacientes")</li>
                                <li>@Html.ActionLink("Turnos", "Index", "Turnos")</li>
                                <li>@Html.ActionLink("Obras Sociales", "Index", "ObrasSociales")</li>
                                <li>@Html.ActionLink("Tarifas por Especialidad", "Index", "ObraSocialTarifas")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Enfermedades de Pacientes", "Index", "PacienteEnfermedades")</li>
                                <li>@Html.ActionLink("Tipos de Enfermedades", "Index", "TipoEnfermedades")</li>
                                <li>@Html.ActionLink("Enfermedades", "Index", "Enfermedades")</li>
                                <li>@Html.ActionLink("Duración de Turnos", "Index", "DuracionTurnoEspecialidades")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Consultorios", "Index", "Consultorios")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Especialidades", "Index", "Especialidades")</li>
                            </ul>
                        </li>
                    }

                    </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_GenericMessage") @*aqui es donde muestra el mensaje*@
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Proyecto de Software</p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
