@model IEnumerable<WebAppMedOffices.Models.Turno>

@{
    ViewBag.Title = "Turnos Disponibles";
}

<h2>Buscar Turnos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medico.NombreCompleto)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ObraSocial.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Nombre)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaHora)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FechaHoraFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sobreturno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TieneObraSocial)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Especialidad.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Medico.NombreCompleto)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.ObraSocial.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.Nombre)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.Estado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaHora)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.FechaHoraFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sobreturno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TieneObraSocial)
        </td>*@
    <td>
        @Html.ActionLink("Asignar Turno", "AsignarTurno", new { id = item.Id, pacienteId = ViewBag.PacienteId }, new { @class = "btn btn-success" })
    </td>
</tr>
    }

</table>
