@model WebAppMedOffices.Models.Paciente

@{
    ViewBag.Title = "Paciente";
}

<h2>Paciente</h2>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreContactoEmergencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreContactoEmergencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoContactoEmergencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoContactoEmergencia)
        </dd>

        @if (Model.ObraSocialId != 1)
        {
            <dt>
                @Html.DisplayNameFor(model => model.NroAfiliado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NroAfiliado)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "ListaPacientes", new { }, new { @class = "btn btn-primary" })
    @*@Html.ActionLink("Editar Paciente", "EditPaciente", new { id = Model.Id }, new { @class = "btn btn-warning" })*@
    @Html.ActionLink("Asignar turno", "BuscarTurnos", new { id = Model.Id }, new { @class = "btn btn-success" })
</p>

<h4>Turnos Reservados</h4>
@if (Model.Turnos.Count == 0)
{
    <h5>No hay turnos asignados</h5>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Turnos.FirstOrDefault().Especialidad.Nombre)
            </th>
            <th>
                Médico
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turnos.FirstOrDefault().FechaHora)
            </th>
            <th>
                Opciones
            </th>
        </tr>
        
        @foreach (var item in Model.Turnos.Where(t => t.Estado == WebAppMedOffices.Shared.Estado.Reservado && t.FechaHora >= ViewBag.hoy))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Especialidad.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Medico.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaHora)
                </td>
                <td>
                    @Html.ActionLink("Cancelar Turno", "CancelarTurno2", new { id = item.Id }, new { @class = "btn btn-danger" })

                </td>
            </tr>
        }

    </table>


}