@model IEnumerable<WebAppMedOffices.Models.Turno>

@{
    ViewBag.Title = "Turnos de Hoy";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">

<h2>Control de turnos</h2>

<table id="table_id" class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
            <th>
                Paciente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObraSocial.Nombre)
            </th>
            <th>
                Médico
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @if (item.Sobreturno == true)
                {
                    @Html.DisplayFor(modelItem => item.Fecha)
                    <span class="label label-danger">Sobreturno</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.FechaHora)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObraSocial.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad.Nombre)
            </td>
            <td>
                Botones...
            </td>
        </tr>
        }
    </tbody>

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                //"columnDefs": [
                //    { "targets": [0, 2, 3, 4, 5], "searchable": false }
                //],
                searching: true,
                paging: false,
                pageLength: 10,
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Filtrar por Médico:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                //dom: 'Blfrtip',
                //buttons: [
                //    {
                //        extend: 'print',
                //        text: 'Imprimir',
                //        title: 'Turnos de Hoy'
                //    }
                //],
                "order": [[1, "asc"]]
            });
        });
    </script>
}
