@model IEnumerable<WebAppMedOffices.Models.Paciente>

@{
    ViewBag.Title = "Lista de Pacientes";
}

<h2>Lista de Pacientes</h2>

<p>
    @Html.ActionLink("Nuevo Paciente", "CreatePaciente", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreContactoEmergencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoContactoEmergencia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreContactoEmergencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoContactoEmergencia)
        </td>
        <td>
            @Html.ActionLink("Ver", "DetailsPaciente", new { id = item.Id }, new { @class = "btn btn-info" })
            @Html.ActionLink("Editar", "EditPaciente", new { id = item.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Eliminar", "DeletePaciante", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
